* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #116062;

}

.title {
    color: #f0f0f0;
    line-height: 80px;
    text-align: center;
}